<!DOCTYPE HTML>

<html>
	<head>
		<title>7419 Inventory System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<h1>Add an Item</h1>
								</header>

							<!-- Section -->
							<section>
                                <form method="post" action="#">
                                    <div class="row gtr-uniform">
                                        <div class="col-6 col-12-xsmall">
                                            <input type="text" placeholder="Name" />
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <input type="text" placeholder="Supplier" />
                                        </div>
                                        <div class="col-4 col-12-xsmall">
                                            <input type="text" placeholder="Bin" />
                                        </div>
                                        <div class="col-4 col-12-xsmall">
                                            <input type="text" placeholder="Location" />
                                        </div>
                                        <div class="col-4 col-12-xsmall">
                                            <input type="text" placeholder="Number" />
                                        </div>
                                        <!-- Break -->
                                        
                                        <div class="col-3 col-12-small">
                                            <input type="radio" id="demo-priority-low" name="demo-priority">
                                            <label for="demo-priority-low">Tool</label>
                                        </div>
                                        <div class="col-3 col-12-small">
                                            <input type="radio" id="demo-priority-normal" name="demo-priority">
                                            <label for="demo-priority-normal">Consumable</label>
                                        </div>
            
                                        <!-- Break -->
                                        
                                        <div class="col-12">
                                            <textarea name="demo-message" id="demo-message" placeholder="Notes" rows="6"></textarea>
                                        </div>
                                        <!-- Break -->
                                        <div class="col-12">
                                            <ul class="actions">
                                                <li><input type="submit" value="Add" class="primary"/>
                                                <li><input type="reset" value="Reset" /></li>
                                                <li><a href="inventory.html" class="button">Back</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
							</section>

						</div>
					</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>