<!DOCTYPE HTML>

<html>
	<head>
		<title>7419 Inventory System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="inventory.html" class="logo"><h1>Inventory</h1></a>
								</header>

							<!-- Section -->
							<section>
								<ul class="actions">
									&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="add.html" class="button primary fit">Add Item</a>
								</ul>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Item</th>
												<th>Supplier</th>
												<th>Bin</th>
												<th>Location</th>
												<th>Number</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="item.html">Item1</a></td>
												<td>Ante turpis integer aliquet porttitor.</td>
												<td>###</td>
												<td>###</td>
												<td>###</td>
											</tr>
											<tr>
												<td><a href="item.html">Item2</a></td>
												<td>Vis ac commodo adipiscing arcu aliquet.</td>
												<td>###</td>
												<td>###</td>
												<td>###</td>
											</tr>
											<tr>
												<td><a href="item.html">Item3</a></td>
												<td> Morbi faucibus arcu accumsan lorem.</td>
												<td>###</td>
												<td>###</td>
												<td>###</td>
											</tr>
											<tr>
												<td><a href="item.html">Item4</a></td>
												<td>Vitae integer tempus condimentum.</td>
												<td>###</td>
												<td>###</td>
												<td>###</td>
											</tr>
											<tr>
												<td><a href="item.html">Item5</a></td>
												<td>Ante turpis integer aliquet porttitor.</td>
												<td>###</td>
												<td>###</td>
												<td>###</td>
											</tr>
										</tbody>
										
									</table>
								</div>
							</section>

						</div>
					</div>
				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>7419 Inventory System</h2>
									</header>
									<ul>
										<li><a href="index.html">Dashboard</a></li>
										<li><a href="inventory.html">Inventory</a></li>
										
									</ul>
								</nav>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>