<!DOCTYPE HTML>

<html>
	<head>
		<title>7419 Inventory System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<h1>Inventory</h1>
								</header>

							<!-- Section -->
							<section>
								<ul class="actions">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<div class="col-6 col-12-xsmall">
										<a href="add.html" class="button primary fit small">Add Item</a>
									</div>
								</ul>
								<div class="table-wrapper" data-url="/data">
									<table class="table-inventory">
										<thead>
											<tr>
												<th>Item<input type="image" src="images/Sort.jpg" class="sort_item" alt="Sort"/></th>
												<th>Supplier<input type="image" src="images/Sort.jpg" class="sort_supplier" alt="Sort"/></th>
												<th>Bin<input type="image" src="images/Sort.jpg" class="sort_bin" alt="Sort"/></th>
												<th style="width:15%">Location<input type="image" src="images/Sort.jpg" class="sort_location" alt="Sort"/></th>
												<th style="width:10%">Number<input type="image" src="images/Sort.jpg" class="sort_number" alt="Sort"/></th>
											</tr>
										</thead>
										<tbody>
										</tbody>
										
									</table>
								</div>
							</section>

						</div>
					</div>
				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>7419 Inventory System</h2>
									</header>
									<ul>
										<li><a href="index.html">Dashboard</a></li>
										<li><a href="inventory.html">Inventory</a></li>
										
									</ul>
								</nav>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			<script src="/js/inventory.js"></script>

	</body>
</html>