<!DOCTYPE HTML>

<html>
	<head>
		<title>7419 Inventory System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header" >
									<h1 id="h1"></h1>
								</header>

							<!-- Section -->
							<section>
                                <form method="post" action="/delete" id="delete_item">
                                    <div class="row gtr-uniform" data-url="/ind_data">
                                
                                        <div class="col-6 col-12-xsmall">
                                            <h2>Name:</h2>
                                            <h4 id="name"> </h4>
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <h2>Supplier:</h2>
                                            <h4 id="supplier"> </h4>
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <h2>Bin:</h2>
                                            <h4 id="bin"> </h4>
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <h2>Location:</h2>
                                            <h4 id="location">  </h4>
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <h2>Number:</h2>
                                            <h4 id="number"> </h4>
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <h2>Type:</h2>
                                            <h4> Consumable </h4>
                                        </div>
            
                                        <!-- Break -->
                                        
                                        <div class="col-12">
                                            <h2>Notes:</h2>
                                            <p id="note"></p>
                                        </div>
                                        <!-- Break -->
                                        <div class="col-12">
                                            <ul class="actions">
                                                <li><a href="edit.html" class="button primary">Edit</a></li>
                                                <li><button id="delete" form="delete_item" class="primary">Delete</button>
                                                <li><a href="inventory.html" class="button">Back</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
							</section>

						</div>
					</div>

		<!-- Scripts -->
            <script src="/js/item.js"></script>
            <script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>