<!DOCTYPE HTML>

<html>
	<head>
		<title>7419 Inventory System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<h1>Item 1</h1>
								</header>

							<!-- Section -->
							<section>
                                <form method="post" action="#">
                                    <div class="row gtr-uniform">
                                        <div class="col-6 col-12-xsmall">
                                            <h3>Name:</h3>
                                            <h4> Item 1 </h4>
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <h3>Supplier:</h3>
                                            <h4> Ante turpis integer aliquet porttitor. </h4>
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <h3>Bin:</h3>
                                            <h4> ### </h4>
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <h3>Location:</h3>
                                            <h4> ### </h4>
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <h3>Number:</h3>
                                            <h4> ### </h4>
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <h3>Type:</h3>
                                            <h4> Consumable </h4>
                                        </div>
            
                                        <!-- Break -->
                                        
                                        <div class="col-12">
                                            <h3>Notes:</h3>
                                            <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
                                        </div>
                                        <!-- Break -->
                                        <div class="col-12">
                                            <ul class="actions">
                                                <li><a href="edit.html" class="button primary">Edit</a></li>
                                                <li><a href="inventory.html" class="button">Back</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
							</section>

						</div>
					</div>

		<!-- Scripts -->
			
        <script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>